<%= link_to " Grupos de Contas", grupoconts_path, class: " dropdown-item" %>
<%= link_to " Contas Pessoais", contas_path, class: "dropdown-item" %>
 <div class="dropdown-divider"></div>
<%= link_to " Fornecedores", fornecedors_path, class: "dropdown-item"  %>
<%= link_to " Fonte de Receitas", fontes_path, class: "dropdown-item"  %>
<%= link_to " Centros de Controle", centros_path, class: "dropdown-item"  %>
 <div class="dropdown-divider"></div>
<%= link_to " Beneficiários", beneficiarios_path, class: "dropdown-item"  %>
<%= link_to " Contas", bancos_path, class: "dropdown-item"  %>
<%= link_to " Gerar Anos", anos_path, class: "dropdown-item" %>