<% @card_title = "Listagem da Fornecedor" %>

<p>
  <strong>Nome:</strong>
  <%= @fornecedor.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @fornecedor.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @fornecedor.cidade %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @fornecedor.telefone %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @fornecedor.documento %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= situacao(@fornecedor.ativo) %>
</p>

<%= btn_edit(edit_fornecedor_path(@fornecedor)) %> | 
<%= btn_back(fornecedors_path) %>
