<div class="form-row justify-content-center "  style="margin-top:100px">
  <div class="col-sm-12 col-md-12 col-lg-4">

    <div class="card" >
      <div class="card-header text-white bg-primary">
        Entrada de Usuário
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"> <i class="fa fa-user"> </i> </span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email@exemplo.com"  %>
        </div>                                                                               

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i> </span>
          </div>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Senha" %>
        </div>                                                                               
        <div class="form-row">
          <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <% end %>
          Lembre-me
        </div>

        <div class="form mt-2">

          <%= button_tag class: 'btn btn-primary btn-icon-split btn-md btn-block', data: { disable_with: '<i class="fa fa-spinner"></i> Lendo...' }, title: 'Entrar no Sistema' do %>
          
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
          <span class="text">Entrar ...</span>
        </button>

        <% end %>
      </div>
      
      <hr>
      <%= I18n.l Date.today, :format => :long %> - <%= Time.now.strftime('%H:%M:%S')    %>

      <% end %>
    </div>
  </div>
</div>
</div>




