<%# frozen_string_literal: true %>
<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
	<%%= error_messages_for(@<%= singular_table_name %>) %>
  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="form-actions">
<%%= btn_salvar %>
<%%= btn_cancelar(<%= plural_table_name %>_path) %>
  </div>
<%% end %>