<%% @title_painel = "Listagem da <%= singular_table_name %>" %>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
<p>
  <strong><%= attribute.human_name %>:</strong>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-primary', title: 'Alterar Dados' do %> 
<i class="glyphicon glyphicon-pencil"> Alterar</i> 
<%% end %>
&nbsp;
<%%= link_to <%= plural_table_name %>_path, class: "btn btn-warning", title: "Voltar para Pagina Inicial" do %>
<i class="glyphicon glyphicon-arrow-left"> Voltar</i> 
<%% end %>
