<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Gerenciamento Finanças Pessoais</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<%#= stylesheet_pack_tag 'application' %>
	<%= javascript_pack_tag 'application' %>

</head>

</style>
<body data-flash-messages="<%= JSON.dump(flash.to_a) %>">

	<%= yield %>

</body>
</html>
